*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
background-color: rgb(133, 161, 152);
min-height: 100vh;
border:  8px solid #1d1e4c;
}
.content{
    min-width: 900px;    
    margin: 0 auto;
    
} 
.top_section{
    margin-top: 100px;
    display: flex ;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 25px;
    font-weight: bold;
    align-items: flex-end;
    text-transform: uppercase;
    text-align: end;
}
.image_container img{
    width: 400px;
    height: 320px;
    border-radius: 60px;
}
.about_section{
    margin-top: 70px;
    margin-left: 20px;
    
}
.about_section{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;

}
.about_section h2{
   font-size: 45px;
   margin-bottom: 20px;
   
}
.biography_section{
    margin-top: 35px;
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.biography_section p{
    font-size: 18px;
    margin-top: 20px;
}
.biography_section h3{
    margin-bottom: 20px;
    font-size: 40px;
}
.biography_section ul{
    margin-left: 50px;
}
footer p{
    text-align: end;
}